trigger:
- "*"

pool:
  vmImage: 'windows-2019'

variables:
  solution: 'DataAccessInterface/DataAccessInterface.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: MSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
